<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="icti_emc_event_handler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <icti_emc_event_handler.Properties.Settings>
      <setting name="XMLServerIP" serializeAs="String">
        <value>129.0.0.0</value>
      </setting>
      <setting name="XMLServerPort" serializeAs="String">
        <value>29096</value>
      </setting>
      <setting name="LinkName" serializeAs="String">
        <value>AVAYA#CM5#CSTA-S#AES63</value>
      </setting>
      <setting name="EnableXMLClientTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XMLClientTraceFilePath" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="VDNList" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="SplitSkillList" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="CrestaAPIEndpoint" serializeAs="String">
        <value>https://api-siprec.us-east-1-prod.cresta.ai/v1/siprec/customers/rcg/profiles/us-east-1/sessionEvent:process</value>
      </setting>
      <setting name="CrestaAPIKey" serializeAs="String">
        <value>Y3RhcGsucmNnLmluZmluaXQtY3RpLWFwaS1rZXkuNHZnSkZ2NTRaMDE2SG84OVFDMzI0dmdOOWE4MDF4YzQwSFNCUWVFRw==</value>
      </setting>
      <setting name="LogFileSizeLimitInMB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LogDailyFileCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LogNumberDaysRetention" serializeAs="String">
        <value>7</value>
      </setting>
    </icti_emc_event_handler.Properties.Settings>
  </applicationSettings>
</configuration>